.XWd2yd4eFMkKGXZuNdR1J{display:inline-block;vertical-align:middle}.iiw5ZUUc4-dNh06vcHokf{width:24px;height:24px;flex-shrink:0}._3WFo1bGm4GLGUHLwfAIVDQ{width:113px;height:25px}._2GYbx9jAZP-p5PWM05_a-F{width:17px;height:17px}._5SsJPq8GaVK0-mjD73lRA{width:21px;height:21px}._2QiSp2bNddVGqBis42kQc_{width:69px;height:69px;margin-bottom:32px}
._2MwzGva8drHuh-pMVyjOgc{font-size:1rem;letter-spacing:0;border:1px solid var(--gray700);text-align:right;background-color:var(--black);width:200px;padding:8px 0;z-index:var(--z_2)}
._3Uwnu8eN3HVJOzc2KDzwCK{display:flex;flex-direction:column;align-items:flex-start;padding:24px 0;}@media (min-width:640px){._3Uwnu8eN3HVJOzc2KDzwCK{padding-left:0;padding-bottom:0;padding-right:0;padding-top:0}}._1ieH_jlXzkGu6P5ANWcnd7{font-weight:400;padding:21px 16px 10px 0;line-height:1.37rem;text-decoration:none;display:inline-block;font-size:1rem;overflow:hidden;text-overflow:ellipsis;position:relative;}@media (min-width:640px){._1ieH_jlXzkGu6P5ANWcnd7{padding-left:0;padding-bottom:16px;padding-right:0;padding-top:16px}}._1ieH_jlXzkGu6P5ANWcnd7._3m8u8Lxs1U-ShzDi2NNBrV,._1ieH_jlXzkGu6P5ANWcnd7:hover{font-weight:600}._1ieH_jlXzkGu6P5ANWcnd7._3m8u8Lxs1U-ShzDi2NNBrV{overflow:visible;}._1ieH_jlXzkGu6P5ANWcnd7._3m8u8Lxs1U-ShzDi2NNBrV:before{content:"";position:relative;left:-13.5px;border-radius:10px}._1ieH_jlXzkGu6P5ANWcnd7._3m8u8Lxs1U-ShzDi2NNBrV:after{content:"";position:absolute;bottom:3px;left:0;width:100%;height:2px;background-color:var(--green)}._1ieH_jlXzkGu6P5ANWcnd7:last-child{margin-bottom:40px}
._2WVT6dKCKAdAp0mO1WYbN1{color:var(--green400)}._3hZxAarn6la403Fx3l_XqF{color:var(--yellow500)}
._1CeMkzWmqTbhUzc54osu2S{display:inline-block;vertical-align:middle;text-decoration:none;font-size:1rem;line-height:1.37rem;text-align:center;border-radius:8px;min-width:90px;padding:13px 34px}._2PYuGGIiRxZaZ-PwxqVA8N{color:var(--white);background:var(--green400);transition:background-color .3s ease;}._2PYuGGIiRxZaZ-PwxqVA8N:hover{background:var(--green700)}._3fku1ySg1oZ4U7vSfolCdQ{font-size:inherit;padding:0;text-decoration:underline;cursor:pointer}._1xWOG7HKuXmpSS9GfjjFvJ{color:var(--white);background:var(--red300);transition:background-color .3s ease;}._1xWOG7HKuXmpSS9GfjjFvJ:hover{background:var(--red400)}._3xaDO5BDhkja-iAfU9woV7{color:var(--white);background:var(--transparent);box-shadow:inset 0 0 0 1px var(--gray701);transition:background-color .3s ease}._2zsuuUNB0bzCa59nrpR-0L{width:100%}[disabled]{opacity:.5;cursor:default}
.QHB4vuPqD6XaFEBI0CD9Y{position:relative;top:50%;left:50%;right:auto;bottom:auto;margin-right:-50%;transform:translate(-50%,-50%);max-width:400px;background-color:var(--bg-main);color:var(--white);padding:32px;box-shadow:0 0 0 1px var(--gray4d);border-radius:4px}.VQYOVZWMNfUpmcqf-ipwf{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.75);z-index:var(--z_5)}.LhDoC1vbtRObgsm84SG_O{display:flex;flex-direction:column}.HKAzn4wmGMidMOodIuN5N{display:flex;align-items:center}._1GDjqJlZTMojVjN6M2RaIl{margin-right:12px}._1hcca5wZuH5ZJuDk5Gznca{font-weight:620;font-size:1.5rem;line-height:1.87rem;color:var(--white)}._3idCSicrERhaA1buqgCfTi{top:8px;right:8px;position:absolute;color:#67b279;padding:0}._39X2ZKplrTTyXZiXNPBPII{position:relative}._4rn_JN5kLSlvTjbglyApo{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:6px 0 7px 13px;width:335px;height:48px;border:1px solid var(--gray700);box-sizing:border-box;font-size:1rem;line-height:1.12rem;color:var(--white);border-radius:8px}._1A5KtkdHAJ1SFdlSuxoTKf{position:absolute;bottom:calc(50% - 12px);right:4px;pointer-events:none}._1zdZpXxX84L-aNRJDY-MOu{margin-top:24px}.YZkTDplvfRevHMT2Enx81{opacity:.5}._1BJfKYP-ggFXzH8jHDmrxE{margin-bottom:8px}._2SebuJNOAzuFb3qDi6phOs{color:var(--white);padding:14px 11px;width:335px;height:48px;background:var(--grayDark);border:1px solid var(--gray700);border-radius:8px;box-sizing:border-box;resize:none;font-size:1rem;line-height:1.12rem;}._2SebuJNOAzuFb3qDi6phOs::-moz-placeholder{color:var(--gray700)}._2SebuJNOAzuFb3qDi6phOs:-ms-input-placeholder{color:var(--gray700)}::-moz-placeholder{color:var(--gray700)}:-ms-input-placeholder{color:var(--gray700)}._2SebuJNOAzuFb3qDi6phOs::placeholder{color:var(--gray700)}._10pqOiPAGmV6TV_6uz6-SP{height:100px}._3FoRah44E_QEFaJmuWUMti{padding-top:11px}._3WWKsxgR0xHOb-WHL1Rhq5{font-size:.87rem;color:var(--white);margin-top:8px;max-height:76px;overflow-y:auto;}._3WWKsxgR0xHOb-WHL1Rhq5.-vZyzZYoR1qY3onu6FA-I{word-break:break-all}._3xurNFDmSYrywdxl-onuw_{color:var(--white);max-height:76px;overflow-y:auto;padding:14px 11px;background:var(--grayDark);box-sizing:border-box;font-size:1rem;line-height:1.12rem;}._3xurNFDmSYrywdxl-onuw_.-vZyzZYoR1qY3onu6FA-I{word-break:break-all}._1DbefskCTNW56Kbse9SG4z{overflow:hidden;border:1px solid var(--gray700);border-radius:8px}._3gKtlhawkPj2_mWnXWiAqs{display:flex;padding-top:24px;}._3gKtlhawkPj2_mWnXWiAqs._1awhfD_3AnXPcmvo050LNG{justify-content:flex-end}._3gKtlhawkPj2_mWnXWiAqs._2BP_qJ9INlS76edikh90WW{justify-content:center}._8JVoGMvq7gSqbIDsBpR-{margin-right:16px}
.PSFmGOSPDT1hvmUd9SuL_{display:block;position:relative;padding-left:40px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.PSFmGOSPDT1hvmUd9SuL_ input{opacity:0;height:0;width:0}._3ayrc2wMpCebjSXbXHG5QM,.PSFmGOSPDT1hvmUd9SuL_ input{position:absolute;cursor:pointer}._3ayrc2wMpCebjSXbXHG5QM{--size:20px;left:0;height:var(--size);width:var(--size);background-color:transparent;box-shadow:inset 0 0 0 1px var(--gray700);}._3ayrc2wMpCebjSXbXHG5QM._1iL2SHx0EGXhUK7Gxm8Rla{left:13px;top:calc(50% - 10px)}.PSFmGOSPDT1hvmUd9SuL_ input:checked~._3ayrc2wMpCebjSXbXHG5QM{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M22 2v20H2V2h20zm-4.511 6.43a.75.75 0 00-1.058.081l-5.476 6.38-3.42-3.487a.75.75 0 00-1.07 1.05l4.563 4.655 6.541-7.62a.75.75 0 00-.08-1.058z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23000' d='M-322-190h686v554h-686z'/%3E%3Cpath fill='%23131313' d='M-38-190h402v554H-38z'/%3E%3Cuse fill='%2367B279' xlink:href='%23a' transform='translate(-2 -2)'/%3E%3C/g%3E%3C/svg%3E");box-shadow:none}._3ayrc2wMpCebjSXbXHG5QM:after{content:"";position:absolute;display:none}.PSFmGOSPDT1hvmUd9SuL_ input:checked~._3ayrc2wMpCebjSXbXHG5QM:after{display:block}
._2mP6lkZhmjGFPZ0Jfpu2jN{position:fixed;z-index:6;margin:auto auto 0;width:218px;bottom:16px;left:16px;padding:24px;border-radius:8px;border:1px solid var(--grayd8);background-color:var(--bg-main)}.mwid1xnZXWO0GCrcLJxVm{margin-bottom:16px;line-height:1.37rem;font-weight:400}._1j-BqsE6PozKMwpO0Fre_R{position:absolute;top:8px;right:8px;border:0;padding:0;background-color:transparent;cursor:pointer;}._1j-BqsE6PozKMwpO0Fre_R ._2HadF-m1QBNVgnvZGsQOVZ{width:24px;height:24px;color:var(--gray700)}
.sidebar{position:fixed;z-index:var(--z_4);min-height:100vh;left:0;top:0;transform:translateX(-100%);padding:32px 16px 16px 40px;background-color:var(--black);}.sidebar__menu{display:block;position:fixed;left:0;top:0;height:40px;width:100%;background-color:var(--bg-main);font-size:.87rem;line-height:1.12rem}.sidebar__logo{margin:32px 92px 10px 0}.sidebar__open-button{margin:6px 9px;border:0;background-color:transparent}.sidebar__overlay{height:100%;width:100%;position:fixed;z-index:var(--z_3);left:0;top:0;overflow-x:hidden;animation-delay:.3s;background-color:rgba(0,0,0,.5)}.sidebar--open{transform:unset}@media (min-width:640px){.sidebar{min-width:250px;transform:unset;position:relative}.sidebar__menu{display:none}.sidebar__logo{margin:0 0 24px}.sidebar__overlay{display:none}}
._3KthVM_58dthT2Ti2sjaFS{position:fixed;z-index:10;bottom:0;left:0;width:100%;padding:0 10px 16px}._1QrqNvml08K3zbaq0xXSa1{position:relative;top:0;left:0;width:100%;padding:12px 16px;border-radius:5px;margin-top:15px;margin-left:auto;display:flex;align-items:flex-start;background-color:var(--gray4d);color:var(--white);overflow:hidden;animation:CGD1meM3D2Ap9ofl8-qY8 .3s ease-in;opacity:.5;}@media (min-width:640px){._1QrqNvml08K3zbaq0xXSa1{width:370px}}._1QrqNvml08K3zbaq0xXSa1:last-child{opacity:1}._1QrqNvml08K3zbaq0xXSa1._3RXpO5kzmCXSI97SXgDd7k{animation:_1aFS9G0rESMR4MEql4OSf_ .3s ease-out;animation-fill-mode:forwards}.NhS0MXDQmxy3Rhtwh4pk1{width:24px;height:24px}.YPJmaP1acX4qXtQzTfgmF{padding:0;position:absolute;top:8px;right:8px}._1Ixe42tjaZChrkCaz-FpvV{font-size:.87rem;margin-left:12px;margin-right:24px;line-height:1rem;max-height:64px;overflow:hidden;text-overflow:ellipsis}@keyframes CGD1meM3D2Ap9ofl8-qY8{0%{transform:translate3d(0,91px,0)}to{transform:translate3(0,0,0)}}@keyframes _1q45S0i09J4LKstpWAwNq4{0%{transform:translateZ(0)}to{transform:translate3d(0,91px,0)}}
._1X439rD7tTn-chE-RSF-zK{line-height:1.18rem}.BycdjiOIZsY2zn2MY2gvI{font-weight:400;font-size:1rem;color:var(--grayd8);letter-spacing:0}._2nhYAK71La-q3eS_Isd559{margin:34px 0 32px}._2_ONQ7ogoH1amsKzOoZS6T{margin-bottom:16px}._38vBUfd7PHgHgZ4_eEk6vO{line-height:1.18rem}
.FzO52My_Ey1Nu5L11KeUD{padding:24px 0;max-width:720px}._2VgWXVthq5HoJChgWIdTW3{font-size:1rem;line-height:1.5rem}.-H3SWBU1tIdUF9QCCeEVZ{padding-bottom:32px}._1CB2ZkL4KGauviWmpEB4AI,.RpH_4zHwSpX6sIC9YZciz{font-size:.87rem;line-height:1.12rem}._1CB2ZkL4KGauviWmpEB4AI{font-weight:400}._2VgWXVthq5HoJChgWIdTW3,.RpH_4zHwSpX6sIC9YZciz{font-weight:600}
._34M8iB9JBHAWa7zzbD-YJ{max-width:720px;border-radius:8px;padding:24px 56px;background-color:var(--red700);color:var(--white);transform:translateX(-56px)}.k6bBezQr4RGq6cU8TyLak{margin-bottom:24px}._3yMpiJCRY840PLJMUB11nk{font-size:1rem;font-weight:600;line-height:1.5rem}._1aRnPOPyX7SNjtYidvmS5u{line-height:1.12rem;font-size:.87rem}
._1PIuKWUU0hOEmZSNJ4KchC{margin-bottom:32px}._3mgA4V6gJwwfbimo-vCjhc{display:flex;flex-direction:column}._1nti0AaXOZ2KaebcZblS70{width:100%;display:flex;align-items:center}.y-60B-rciIfsooipV97uG{font-weight:500;font-size:1.5rem;line-height:1.75rem;color:var(--white);padding-left:20px}._1I4VumvRtsxs5l5uipQozA,._32faD0wd-EkmeCnvhPr3qW{display:flex}._1I4VumvRtsxs5l5uipQozA{width:100%;height:28px;margin-bottom:32px}.uAnM5QHaygMWWHCLbJmbh{background-color:var(--transparent);border:none;font-style:normal;font-weight:400;font-size:1rem;line-height:1.18rem;color:var(--white);width:100%;}.uAnM5QHaygMWWHCLbJmbh::-moz-placeholder{color:var(--gray700)}.uAnM5QHaygMWWHCLbJmbh:-ms-input-placeholder{color:var(--gray700)}::-moz-placeholder{color:var(--gray700)}:-ms-input-placeholder{color:var(--gray700)}.uAnM5QHaygMWWHCLbJmbh::placeholder{color:var(--gray700)}.IjpYE_oFTGlUqyoFNrAyx{margin-left:7px;padding-left:7px;padding-bottom:7px;display:flex;align-items:center;width:100%;border-bottom:1px solid var(--grayf3)}
._21gGbsYOCW9WUk9vYB_hNG{color:var(--green);text-decoration:underline}
._3_zNIqhRkc3TjMUGhsnRK{width:40px}._2QeUea8vYSeWHCHuRy_aOc{display:none;}._2QeUea8vYSeWHCHuRy_aOc:checked~._1PFO3YpsMyYDTbbxR9KMGL{--translateX:20px;--bg-color:var(--green)}._1PFO3YpsMyYDTbbxR9KMGL{--translateX:0;--bg-color:var(--gray700);display:inline-flex;cursor:pointer;}._1PFO3YpsMyYDTbbxR9KMGL:after{content:"";width:40px;height:20px;background-color:var(--bg-color);border-radius:10px;transform:translateX(-2px);position:absolute;transition:background-color .3s ease}._1PFO3YpsMyYDTbbxR9KMGL:before{--size:16px;z-index:var(--z_2);content:"";display:block;width:var(--size);height:var(--size);border-radius:50%;background-color:var(--white);transform:translate(var(--translateX),2px);transition:transform .3s ease}
._1nvr6QNowCnPxkdfClowdp{display:flex;padding:13px;width:calc(100% + 26px);transform:translateX(-13px);align-items:center;justify-content:space-between;border-radius:8px;cursor:pointer;transition:background-color .3s ease;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}._1nvr6QNowCnPxkdfClowdp:hover{background-color:var(--gray4d)}._1nvr6QNowCnPxkdfClowdp._2QK7P6h3rWpgWd6CJI8xK2{cursor:default;}._1nvr6QNowCnPxkdfClowdp._2QK7P6h3rWpgWd6CJI8xK2:hover{background-color:transparent}._2dqrmaOQ_jlalWQbw2_sLP{margin-right:16px}._1FUgEOSYKznY9M3HOcxv6N{text-align:left;display:flex;align-items:center;padding:0;}._1FUgEOSYKznY9M3HOcxv6N:hover ._1uiLulTUzKqEpMkirMI81d{color:var(--bg-main)}._1uiLulTUzKqEpMkirMI81d{font-size:1rem;color:var(--white);flex-grow:1;transition:color .1s ease}.mBtauYz557nwZmzBcAH3K{font-size:.87rem;color:var(--gray700)}
._1-QjdpfEiNLMsgwRIKvqYC{display:flex;justify-content:space-between;padding:13px;width:calc(100% + 26px);transform:translateX(-13px);border-radius:8px;cursor:pointer;transition:background-color .3s ease;align-items:center;display:inline-flex;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}._1-QjdpfEiNLMsgwRIKvqYC:hover{background-color:var(--gray4d)}._9RaLvL5TVVgVfCoDrBftx{display:flex;align-items:center}._24UKj4OeyXfMiELkLU8bqf{font-size:1rem;margin-left:16px;cursor:inherit;padding-right:16px}._1VlByA0vE5eFlN30aMfH5U{text-decoration:none}._2rZaQV4TYwvlUEzAzcEBKL{font-size:.87rem;color:var(--gray700)}._2KYFKuxetiXhVqdzXrSchK{width:10px;height:15px}
._2cqT-ml5dM-dZ2IapOSNBv{margin-bottom:32px}.eEuHX9AG0FnNB_9-5odRq{color:var(--orange);display:block}.eEuHX9AG0FnNB_9-5odRq+.eEuHX9AG0FnNB_9-5odRq{margin-top:12px}._1f_a-CEY1QUUDoUSrvX7MC{color:var(--green);text-decoration:underline}
._1PrqN4XICdYpP_SInkmfnk{display:flex;flex-direction:column}._2M0nAc6yfDqzx6IFgkcRik{display:flex;margin:13px 0}._1FGra8ejphFh1aTZBffKP-{width:100%}._2INynioUOaORnBiKxeQmp{margin:0 72px 0 16px;width:135px}.JZUdRrfpNIRZOMuqCMNdJ{text-decoration:none}.H1L1Ytg4v1-a7aFspns0w{pointer-events:none}._2AAaqSBn07PGbhbyRJiANo{display:flex;margin:13px 0}._2p1ITMXwtvpM14uCzovFIN{margin:0 72px 0 0;width:100%}._24_Nb6QAViMSi3N7LqdHLu{font-weight:500;font-size:1.5rem;color:var(--white);letter-spacing:0;margin-bottom:32px}
._2BeMBmLAuxSoLWAkc-SQXH{margin-bottom:24px}._3mm2vPGsqD289SsJgU-vY8{cursor:pointer;display:flex;align-items:center;padding-left:0}._GdfG5_82tIqDp2wHwQpQ{font-style:normal;font-weight:400;font-size:1rem;line-height:1.18rem;color:var(--green);padding-left:16px}
._1dAtu7Xr43J9PT6udOS0KX{margin-bottom:32px}._28J8SmV4J6BAT7PBE0mIYl{color:var(--orange);margin-bottom:16px}.Rl88vEd7bWHZvPCXVBvwz{color:var(--green);text-decoration:underline}
.emU3TltDmkhJ_3NSCOX5-{text-align:center;padding-top:168px}._2a7ab_o2h3i-ezLNU9LMq_{max-width:100%;height:calc(100vh - 260px);overflow-y:auto;overflow-x:hidden;padding-right:16px}._25lQhe7OJ4EL8TUbxuli9N{display:flex;flex-direction:column}._3a_8OMJF3CuqTuIdcQGOlG{width:100%}._1k5dypRuRWnxV6dxc-4w-n{display:flex;margin:13px 0}
._2B3Qdk3vAdnZCnfTLjxHhE{width:100%;height:100%}._1OpPt0Xdfw-lqo4zEIXCmj{height:78px!important}.xU94ghajJHQY1be3J44MF{padding:16px 12px;background:var(--grayDark);border:1px solid var(--gray700);border-radius:8px;box-sizing:border-box;resize:none;color:var(--white);font-weight:400;font-size:.87rem;line-height:1.5rem}._2OG_xMUInQeXR8SgZOKDwn{height:100%!important}._2mTlv2ul5BHJCngE1zPC45{margin-right:16px}._1wMcJ5w1lq8UXwfh8p-dgG{display:flex;justify-content:flex-end;padding:24px 0 28px}
._50kFpBUeTOftvxTRELklW{padding-left:40px;line-height:1.12rem;font-size:.87rem}.nC279BXGYAAW8FcMyLbBy{color:var(--red)}._2sgSSnmU2dYEiG1-sgzOaD{color:var(--green)}._rpIeuUhMfVkAx8V9QZ24{color:var(--yellow)}
._2gPeGQl2n9plCraJzXGQPD{line-height:1.5rem;font-size:1rem;color:var(--white);letter-spacing:0;display:block}._1AJPeHule5f0IilqKpejkO{text-align:left;font-size:1rem;font-family:inherit;border:0;padding:0;color:inherit;max-width:100%;word-break:break-all}._3AO2lSbVBa5tx7jz5zWkta{display:flex}
._1mHsDPyJ1eZhrkQXPohOH6{padding-left:40px;line-height:1rem;font-size:.87rem;color:var(--gray700);margin-bottom:8px}._1Ep37ABHtnnnF2IcL1ZClB{padding-top:32px}.qlQc_y2EKYMbxeI4Li4F1{text-align:center;padding-top:168px}._2fepSPtTPCdEQreJAo4Mml{max-width:100%;height:calc(100vh - 260px);overflow-y:auto;overflow-x:hidden;padding-right:16px}
._6Q_P2kzbMEg51KeFnDqxz{display:flex;padding:13px 13px 13px 42px;width:calc(100% + 26px);transform:translateX(-13px);align-items:center;justify-content:space-between;border-radius:8px;cursor:pointer;transition:background-color .3s ease;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}._6Q_P2kzbMEg51KeFnDqxz._2rynKvQx_I1V7IoCgRsy_4{cursor:default;pointer-events:none}._6Q_P2kzbMEg51KeFnDqxz:hover{background-color:var(--gray4d)}
._378DnKMAkJ9QhxjPr4fp60{display:flex;align-items:center;justify-content:flex-start;margin-bottom:34px}.n68IhwrVgTRIS4-53YSsV{padding-left:16px}.aS7qAMnSAcM0uP6OHimf3{color:var(--white);font-size:1.5rem;font-weight:500}._1k71GyP41R7rInlzvD9GMS{color:var(--graya4);font-size:.87rem;line-height:1rem}
._3BDcOwPFbOcX-jc_t1iTt6{display:flex;flex-direction:column}
@keyframes _3Cz4ZvW9Nk8zB9tIcPrPUx{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}._3uLOr18u9i6POhM5aLxHnd{position:fixed;z-index:1000;left:0;top:0;display:flex;align-items:center;justify-content:center;width:100%;height:100%;background-color:rgba(0,0,0,.5)}._1pDXDB6V-E2O9-QZDOkhN7{width:24px;height:24px;animation:_3Cz4ZvW9Nk8zB9tIcPrPUx 2s linear infinite}
._3q8bwRq6FAKGyazARuWkcU{background-color:var(--bg-main);display:flex;min-height:100vh}._3Bdax_Zc1_UaHH7-o4WrLy{width:100%;display:flex;flex-direction:column}._2ixXshGZEbIQBSLn9ZJFtF{width:100%;max-width:100%;padding:48px 32px;}@media (min-width:640px){._2ixXshGZEbIQBSLn9ZJFtF{margin-left:12vw}}@media (min-width:640px){._2ixXshGZEbIQBSLn9ZJFtF{max-width:47vw}}.dZ7GtVWpquc1cXKpr2DHo{margin-left:15px}
:root {
    --font-primary: roboto-flex, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Arial, sans-serif;
    --white: #ffffff;
    --black: #000000;
    --bg-main: #131313;
    --graya4: #a4a4a4;
    --gray4d: #4d4d4d;
    --grayf3: #f3f3f3;
    --grayd8: #d8d8d8;
    --gray42: #424242;
    --transparent: transparent;
    --switch-field: #2a4b57;
    --switch-field-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.28);
    --switch-btn-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.7);
    --green: #67b279;
    --red: #c23814;
    --yellow: #eb9300;
    --orange: #d58500;
    --overlayBlackout: rgba(0, 0, 0, 0.5);

    /*EDITOR*/
    --blue-editor: #4093d6;
    --orange-editor: #cf8263;
    --green-editor: #338033;
    --pink-editor: #c46cbd;
    /*GRAYSCALE*/
    --gray700: #888888;
    --gray701: #979797;
    --grayDark: #2a2a2a;
    /*BRAND*/
    --green400: #67b279;
    --green700: #4d995f;
    /*FEEDBACK*/
    --red300: #bf4829;
    --red400: #c23814;
    --red700: #732613;

    --yellow500: #d58500;

    --z_-1: -1;
    --z_1: 1;
    --z_2: 2;
    --z_3: 3;
    --z_4: 4;
    --z_5: 5;
}@font-face {
    font-family: roboto-flex;
    src: url(c50a679d093ef325e455.woff2) format('woff2 supports variations'),
       url(c50a679d093ef325e455.woff2) format('woff2-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}*,
*:before,
*:after {
    box-sizing: inherit;
    outline: none;
    text-rendering: geometricPrecision;
}:root {
    color-scheme: dark;
}html,
body,
#root {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 320px;
}html {
    box-sizing: border-box;
    font-size: 100%;
}body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
    font-family: roboto-flex, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Arial, sans-serif;
    font-family: var(--font-primary);
    font-weight: 400;
    background-color: #131313;
    background-color: var(--bg-main);
    color: #ffffff;
    color: var(--white);
    font-optical-sizing: none;
}ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}button,
input,
textarea {
    font-family: inherit;
    caret-color: #d8d8d8;
    caret-color: var(--grayd8);
}a {
    color: currentColor;
}button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: none;
    outline: none;
    background-color: transparent;
}button[disabled] {
        pointer-events: none;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        opacity: 0.5;
        cursor: default;
    }label {
    cursor: inherit;
}legend {
    padding: 0;
    display: table;
}fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}.hidden {
    display: none;
}.editor .ace_keyword {
        color: #4093d6!important;
        color: var(--blue-editor)!important;
    }.editor .ace_string {
        color: #cf8263!important;
        color: var(--orange-editor)!important;
    }.editor .ace_constant {
        color: #c46cbd!important;
        color: var(--pink-editor)!important;
    }.editor .ace_comment {
        color: #338033!important;
        color: var(--green-editor)!important;
    }.editor .ace_cursor {
        color: #d8d8d8;
        color: var(--grayd8);
    }.fade-enter, .fade-appear {
    opacity: 0;
}.fade-enter-active, .fade-appear-active {
    opacity: 1;
    transition: opacity 300ms;
}.fade-exit {
    opacity: 1;
}.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
