.XWd2yd4eFMkKGXZuNdR1J{display:inline-block;vertical-align:middle}.iiw5ZUUc4-dNh06vcHokf{width:24px;height:24px;flex-shrink:0}._3WFo1bGm4GLGUHLwfAIVDQ{width:113px;height:25px}._2GYbx9jAZP-p5PWM05_a-F{width:17px;height:17px}._5SsJPq8GaVK0-mjD73lRA{width:21px;height:21px}._2QiSp2bNddVGqBis42kQc_{width:69px;height:69px;margin-bottom:32px}
._2MwzGva8drHuh-pMVyjOgc{font-size:1rem;letter-spacing:0;border:1px solid var(--gray700);text-align:right;background-color:var(--black);width:200px;padding:8px 0;z-index:var(--z_2)}
._3UzIzYwBDSiBn3omj3U1f8{display:flex;align-items:center;justify-content:space-between;padding:16px}._1sh76jM0MBVRBhQulzHYT7{display:flex}._1I_JA6qAFGHKiFbEKCbrat{padding:0;margin:1px 6px;transition:background-color .3s ease;border-radius:4px;width:28px;height:28px;}._1I_JA6qAFGHKiFbEKCbrat:hover{background-color:var(--gray4d)}._1I_JA6qAFGHKiFbEKCbrat:disabled{cursor:default}._1dcUPkZdOSVGQKaYzZj-ag{display:block;padding:7px 9px 9px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-size:1rem;line-height:1.25rem;width:100%;text-align:left;color:var(--grayf3);letter-spacing:0;cursor:pointer;text-decoration:none;}._1dcUPkZdOSVGQKaYzZj-ag:hover{background:var(--gray4d)}._1dcUPkZdOSVGQKaYzZj-ag:disabled{opacity:.5}
._2WVT6dKCKAdAp0mO1WYbN1{color:var(--green400)}._3hZxAarn6la403Fx3l_XqF{color:var(--yellow500)}
._1CeMkzWmqTbhUzc54osu2S{display:inline-block;vertical-align:middle;text-decoration:none;font-size:1rem;line-height:1.37rem;text-align:center;border-radius:8px;min-width:90px;padding:13px 34px}._2PYuGGIiRxZaZ-PwxqVA8N{color:var(--white);background:var(--green400);transition:background-color .3s ease;}._2PYuGGIiRxZaZ-PwxqVA8N:hover{background:var(--green700)}._3fku1ySg1oZ4U7vSfolCdQ{font-size:inherit;padding:0;text-decoration:underline;cursor:pointer}._1xWOG7HKuXmpSS9GfjjFvJ{color:var(--white);background:var(--red300);transition:background-color .3s ease;}._1xWOG7HKuXmpSS9GfjjFvJ:hover{background:var(--red400)}._3xaDO5BDhkja-iAfU9woV7{color:var(--white);background:var(--transparent);box-shadow:inset 0 0 0 1px var(--gray701);transition:background-color .3s ease}._2zsuuUNB0bzCa59nrpR-0L{width:100%}[disabled]{opacity:.5;cursor:default}
.QHB4vuPqD6XaFEBI0CD9Y{position:relative;top:50%;left:50%;right:auto;bottom:auto;margin-right:-50%;transform:translate(-50%,-50%);max-width:400px;background-color:var(--bg-main);color:var(--white);padding:32px;box-shadow:0 0 0 1px var(--gray4d);border-radius:4px}.VQYOVZWMNfUpmcqf-ipwf{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.75);z-index:var(--z_5)}.LhDoC1vbtRObgsm84SG_O{display:flex;flex-direction:column}.HKAzn4wmGMidMOodIuN5N{display:flex;align-items:center}._1GDjqJlZTMojVjN6M2RaIl{margin-right:12px}._1hcca5wZuH5ZJuDk5Gznca{font-weight:620;font-size:1.5rem;line-height:1.87rem;color:var(--white)}._3idCSicrERhaA1buqgCfTi{top:8px;right:8px;position:absolute;color:#67b279;padding:0}._39X2ZKplrTTyXZiXNPBPII{position:relative}._4rn_JN5kLSlvTjbglyApo{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:6px 0 7px 13px;width:335px;height:48px;border:1px solid var(--gray700);box-sizing:border-box;font-size:1rem;line-height:1.12rem;color:var(--white);border-radius:8px}._1A5KtkdHAJ1SFdlSuxoTKf{position:absolute;bottom:calc(50% - 12px);right:4px;pointer-events:none}._1zdZpXxX84L-aNRJDY-MOu{margin-top:24px}.YZkTDplvfRevHMT2Enx81{opacity:.5}._1BJfKYP-ggFXzH8jHDmrxE{margin-bottom:8px}._2SebuJNOAzuFb3qDi6phOs{color:var(--white);padding:14px 11px;width:335px;height:48px;background:var(--grayDark);border:1px solid var(--gray700);border-radius:8px;box-sizing:border-box;resize:none;font-size:1rem;line-height:1.12rem;}._2SebuJNOAzuFb3qDi6phOs::-moz-placeholder{color:var(--gray700)}._2SebuJNOAzuFb3qDi6phOs:-ms-input-placeholder{color:var(--gray700)}::-moz-placeholder{color:var(--gray700)}:-ms-input-placeholder{color:var(--gray700)}._2SebuJNOAzuFb3qDi6phOs::placeholder{color:var(--gray700)}._10pqOiPAGmV6TV_6uz6-SP{height:100px}._3FoRah44E_QEFaJmuWUMti{padding-top:11px}._3WWKsxgR0xHOb-WHL1Rhq5{font-size:.87rem;color:var(--white);margin-top:8px;max-height:76px;overflow-y:auto;}._3WWKsxgR0xHOb-WHL1Rhq5.-vZyzZYoR1qY3onu6FA-I{word-break:break-all}._3xurNFDmSYrywdxl-onuw_{color:var(--white);max-height:76px;overflow-y:auto;padding:14px 11px;background:var(--grayDark);box-sizing:border-box;font-size:1rem;line-height:1.12rem;}._3xurNFDmSYrywdxl-onuw_.-vZyzZYoR1qY3onu6FA-I{word-break:break-all}._1DbefskCTNW56Kbse9SG4z{overflow:hidden;border:1px solid var(--gray700);border-radius:8px}._3gKtlhawkPj2_mWnXWiAqs{display:flex;padding-top:24px;}._3gKtlhawkPj2_mWnXWiAqs._1awhfD_3AnXPcmvo050LNG{justify-content:flex-end}._3gKtlhawkPj2_mWnXWiAqs._2BP_qJ9INlS76edikh90WW{justify-content:center}._8JVoGMvq7gSqbIDsBpR-{margin-right:16px}
.PSFmGOSPDT1hvmUd9SuL_{display:block;position:relative;padding-left:40px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.PSFmGOSPDT1hvmUd9SuL_ input{opacity:0;height:0;width:0}._3ayrc2wMpCebjSXbXHG5QM,.PSFmGOSPDT1hvmUd9SuL_ input{position:absolute;cursor:pointer}._3ayrc2wMpCebjSXbXHG5QM{--size:20px;left:0;height:var(--size);width:var(--size);background-color:transparent;box-shadow:inset 0 0 0 1px var(--gray700);}._3ayrc2wMpCebjSXbXHG5QM._1iL2SHx0EGXhUK7Gxm8Rla{left:13px;top:calc(50% - 10px)}.PSFmGOSPDT1hvmUd9SuL_ input:checked~._3ayrc2wMpCebjSXbXHG5QM{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M22 2v20H2V2h20zm-4.511 6.43a.75.75 0 00-1.058.081l-5.476 6.38-3.42-3.487a.75.75 0 00-1.07 1.05l4.563 4.655 6.541-7.62a.75.75 0 00-.08-1.058z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23000' d='M-322-190h686v554h-686z'/%3E%3Cpath fill='%23131313' d='M-38-190h402v554H-38z'/%3E%3Cuse fill='%2367B279' xlink:href='%23a' transform='translate(-2 -2)'/%3E%3C/g%3E%3C/svg%3E");box-shadow:none}._3ayrc2wMpCebjSXbXHG5QM:after{content:"";position:absolute;display:none}.PSFmGOSPDT1hvmUd9SuL_ input:checked~._3ayrc2wMpCebjSXbXHG5QM:after{display:block}
._1I110QoyDEy-xjwEUIh_2M{background-size:cover;width:100vw;height:100vh;}._1I110QoyDEy-xjwEUIh_2M._1aaW75uGaOKPlJDihjvPO0{background-image:url(6a759fd03cda83cb3278.jpg)}._1I110QoyDEy-xjwEUIh_2M._1wAL79cSmdSpZkNhp578Tu{background-image:url(e0347b56a2773e2ca047.jpg)}._1I110QoyDEy-xjwEUIh_2M.vF8UxGXlY046ZbaNyFyNQ{background-image:url(13fe7a8c95366532caac.jpg)}._1I110QoyDEy-xjwEUIh_2M._2DRGysXyfdyXa0E9Px5O9n{background-image:url(2360b2b5902b1f925d49.jpg)}._19ozq07wNwPk4XJ6tgbykp{align-self:center;height:100%;flex-direction:column;justify-content:center;align-items:center}.FxCfwU_JjTBic7pTVt4PN,._19ozq07wNwPk4XJ6tgbykp{display:flex;margin:0 auto;max-width:260px}.FxCfwU_JjTBic7pTVt4PN{justify-content:space-between;padding-top:16px;padding-bottom:56px}._38tEwbGQLDkfnWp3bJlOve{text-decoration:none;font-size:.87rem;color:var(--grayf3)}._2cuK2ehIlYWqtp1EgwGioK{width:260px}.IGH9YbZsHChHpBMKVe3jY{color:var(--white);text-align:center;}.IGH9YbZsHChHpBMKVe3jY.PzLIF5khWKL1p16wb6TOr{font-weight:600;font-size:2rem}.IGH9YbZsHChHpBMKVe3jY.ifWLLqUhVC4OxU157MQ_6{font-size:1rem;padding-top:16px;padding-bottom:28px;max-width:220px}
._1Cgl5xnurjzlRA81C8_a5v{display:block;position:fixed;z-index:1000;left:50%;top:50%;transform:translate3d(-50%,-50%,0);width:40px;height:40px}
@keyframes _3Cz4ZvW9Nk8zB9tIcPrPUx{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}._3uLOr18u9i6POhM5aLxHnd{position:fixed;z-index:1000;left:0;top:0;display:flex;align-items:center;justify-content:center;width:100%;height:100%;background-color:rgba(0,0,0,.5)}._1pDXDB6V-E2O9-QZDOkhN7{width:24px;height:24px;animation:_3Cz4ZvW9Nk8zB9tIcPrPUx 2s linear infinite}
._2wnQ_hWEtZ_-FgFePRWGYf{width:100%;position:relative;bottom:0;background:var(--red300);font-size:.87rem;line-height:1.12rem;padding:0 16px}._2wnQ_hWEtZ_-FgFePRWGYf,._2nvPkIhli11Jf-doiKTpJa{font-weight:400;color:#fff}._2nvPkIhli11Jf-doiKTpJa{display:block;margin-left:auto;font-size:1rem;line-height:1.5rem;margin-bottom:16px}
._7ZE--Mn3y4fRyuV23X9e2{max-width:100%}._3s-TImpqBMSA59bSJT5FNk{color:var(--green);text-decoration:underline;cursor:pointer;padding:0;transition:color .3s ease;}._3s-TImpqBMSA59bSJT5FNk:hover{color:var(--green700)}
._3UrPyhv-j-aACXp8wVSaKd{--center-width:50px;--state-color:var(--green);--position-right:0;--icon-position:17px;}._3UrPyhv-j-aACXp8wVSaKd._1SlaMOuEkzq00H-BXjvQkh{--position-right:38px}._3UrPyhv-j-aACXp8wVSaKd._1RO18_deJWDrvT8kKFcIq1{pointer-events:none;opacity:.5}._3UrPyhv-j-aACXp8wVSaKd._1SlaMOuEkzq00H-BXjvQkh{--state-color:var(--red);--position-right:var(--center-width);--icon-position:15px}._3UrPyhv-j-aACXp8wVSaKd{position:relative;cursor:pointer;margin-top:64px;margin-bottom:auto;}._2fel1DCdacXzZ_wmZswxxV{width:80px;height:30px;border-radius:16px;background-color:var(--state-color);box-shadow:inset 0 1px 3px 0 rgba(0,0,0,.5)}._1SG5OG78WucWWeZyuGnMgb{position:absolute;width:var(--center-width);height:50px;right:var(--position-right);top:-10px;cursor:pointer;transition:transform .3s ease,box-shadow .3s ease;border-radius:100%;}._1SG5OG78WucWWeZyuGnMgb:hover{box-shadow:0 0 0 6px rgb(255 255 255/20%)}._1SG5OG78WucWWeZyuGnMgb:before{content:"";display:block;width:100%;height:100%;border-radius:100%;background-color:var(--white);box-shadow:0 2px 4px 0 rgba(0,0,0,.2)}.IQwtcalEkM2wsNqnp6RyQ{position:absolute;top:var(--icon-position);left:var(--icon-position);color:var(--state-color);width:20px;height:20px}
.Da27wNkTjGDgb_LaCR6fy{height:100%;max-width:100%;display:flex;flex-direction:column;align-items:center;justify-content:space-between}.kPm1_z5N69LlLszkieDvg{max-width:100%}._2FDyKT39oLwBnbTfaXuJyB{text-align:center;font-weight:600;font-size:1.5rem;color:var(--white);line-height:1.75rem;margin-bottom:4px}._2i-5FkzJudW4WlCLJovgUN{padding-top:4px}._7QFfwmYtmIZgMYXQGtXVw{background-color:var(--green);color:var(--white);border:none;padding:0;}._7QFfwmYtmIZgMYXQGtXVw:hover{background-color:var(--green700)}
._3sSwq5NrdjgLcK0dccH3ts{width:100%;min-width:320px;min-height:480px;justify-content:flex-start;align-items:stretch}._1LNk554dcXNp-SqKBr-9fX,._3sSwq5NrdjgLcK0dccH3ts{height:100%;overflow:hidden;display:flex;flex-direction:column}._1LNk554dcXNp-SqKBr-9fX{align-items:center;max-height:100%;max-width:250px;color:#fff;align-self:center;padding-top:34px;z-index:var(--z_1)}._2FEE3S7RM4-SRlyccb6tKi{margin-bottom:4px}._2xPlxZpNPPbvK18m6ccNDU{position:absolute;top:0;bottom:0;width:100%;height:100%;background-color:var(--overlayBlackout);pointer-events:none}
:root {
    --font-primary: roboto-flex, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Arial, sans-serif;
    --white: #ffffff;
    --white2: #ff0000;
    --black: #050505;
    --bg-main: #202020;
    --graya4: #a4a4a4;
    --gray4d: #4d4d4d;
    --grayf3: #f3f3f3;
    --grayd8: #d8d8d8;
    --gray42: #424242;
    --transparent: transparent;
    --switch-field: #2a4b57;
    --switch-field-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.28);
    --switch-btn-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.7);
    --green: #67b279;
    --red: #c23814;
    --yellow: #eb9300;
    --orange: #d58500;
    --overlayBlackout: rgba(0, 0, 0, 0.5);

    /*EDITOR*/
    --blue-editor: #4093d6;
    --orange-editor: #cf8263;
    --green-editor: #338033;
    --pink-editor: #c46cbd;
    /*GRAYSCALE*/
    --gray700: #888888;
    --gray701: #979797;
    --grayDark: #2a2a2a;
    /*BRAND*/
    --green400: #67b279;
    --green700: #4d995f;
    /*FEEDBACK*/
    --red300: #bf4829;
    --red400: #c23814;
    --red700: #732613;

    --yellow500: #d58500;

    --z_-1: -1;
    --z_1: 1;
    --z_2: 2;
    --z_3: 3;
    --z_4: 4;
    --z_5: 5;
}@font-face {
    font-family: roboto-flex;
    src: url(c50a679d093ef325e455.woff2) format('woff2 supports variations'),
       url(c50a679d093ef325e455.woff2) format('woff2-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}*,
*:before,
*:after {
    box-sizing: inherit;
    outline: none;
    text-rendering: geometricPrecision;
}:root {
    color-scheme: dark;
}html,
body,
#root {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 320px;
}html {
    box-sizing: border-box;
    font-size: 100%;
}body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
    font-family: roboto-flex, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Arial, sans-serif;
    font-family: var(--font-primary);
    font-weight: 400;
    background-color: #131313;
    background-color: var(--bg-main);
    color: #ffffff;
    color: var(--transparent);
    font-optical-sizing: none;
}ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}button,
input,
textarea {
    font-family: inherit;
    caret-color: #d8d8d8;
    caret-color: var(--grayd8);
}a {
    color: currentColor;
}button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: none;
    outline: none;
    background-color: transparent;
}button[disabled] {
        pointer-events: none;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        opacity: 0.5;
        cursor: default;
    }label {
    cursor: inherit;
}legend {
    padding: 0;
    display: table;
}fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}.hidden {
    display: none;
}.editor .ace_keyword {
        color: #4093d6!important;
        color: var(--blue-editor)!important;
    }.editor .ace_string {
        color: #cf8263!important;
        color: var(--orange-editor)!important;
    }.editor .ace_constant {
        color: #c46cbd!important;
        color: var(--pink-editor)!important;
    }.editor .ace_comment {
        color: #338033!important;
        color: var(--green-editor)!important;
    }.editor .ace_cursor {
        color: #d8d8d8;
        color: var(--grayd8);
    }.fade-enter, .fade-appear {
    opacity: 0;
}.fade-enter-active, .fade-appear-active {
    opacity: 1;
    transition: opacity 300ms;
}.fade-exit {
    opacity: 1;
}.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
